<%= form_with(model: diretorium, local: true) do |form| %>
  <% if diretorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diretorium.errors.count, "error") %> prohibited this diretorium from being saved:</h2>

      <ul>
      <% diretorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
