<p id="notice"><%= notice %></p>

<h1>Diretoria</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diretoria.each do |diretorium| %>
      <tr>
        <td><%= diretorium.name %></td>
        <td><%= link_to 'Show', diretorium %></td>
        <td><%= link_to 'Edit', edit_diretorium_path(diretorium) %></td>
        <td><%= link_to 'Destroy', diretorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diretorium', new_diretorium_path %>
